.main_menus
  .my_page-box
    .side-icons-a
      .side-icon-home 
        =link_to "#"do
          =icon("fas", "home", class: "icon")
    .my_page-title  
      ダイヤリー
  .message-box
    .side-icons-b
      .side-icon-child
        = link_to "#" do
          =icon("fas","child", class: "child")
    .message-title
      ママ友チャット
  .information-box
    .side-icons-c
      .side-icon-baby
        = link_to "#" do
          =icon("fas","baby", class: "baby")
    .information-title
      お役立ち情報
