.main-view
  .left-bar
    .left-box
      .user-box
        = current_user.name
      .side-group
        .group-list
          - current_user.groups.each do |group|
            .groups-list-top
              = link_to group_messages_path(group) do
                .groups-list-center
                  =group.name
                .groups-list-bottom
                  = group.show_last_message