.header{
  height:50px;
  width: 100%;
  background-color: lightcyan;
  padding-top: 0px;
  font-size: 30px;
  text-align: center;
  align-items: center;
  a{
    text-decoration: none;
    color: purple;
  }
  .header-title{
    font-size: 30px;
    line-height: 56px;
    padding-top: 20px;
  }
.header__box{
  display: flex;
  float: right;
  .header__left{
    font-size: 20px;
    margin-right: 35px;
    margin-top: -50px;
    .header__left--btn{
      text-decoration: none;
      line-height: 56px;
    }
  }
  .header__right{
    font-size: 20px;
    margin-right: 30px;
    margin-top: -50px;
    .header__right--btn{
      text-decoration: none;
      line-height: 56px;
    }
  }
 } 
  .header_name{
    font-size: 25px;
    .header__plus{
      font-size: 15px;
      float: right;
      width: 70%;
      a{
        float: right;
      }
    }
  }
}
.contents{
  flex-direction: column;
  margin: 30px auto 0;
  height: 600px;
  width: auto;
  overflow: scroll;
  background-color: #ffffff;
  .content{
    height: 55px;
    width: 70%;
    border-bottom: 1px solid #ffffff;
    display: flex;
    align-items: center;
    a{
      text-decoration: none;
      color: #696969;
    }
    .content__left{
      padding-right: 20px;
      .content__left--image{
        height: 55px;
        width: 55px;
        border: solid 1px black;
        background-color: pink;
        margin-left: 300px;
      }
    }
    .content__right{
      .content__right__top{
        font-size: 20px;
        font-weight: bold;
        .content__right--title{
          text-decoration: none;
          color: #000000;
        }
      }
      .content__right__bottom{
        font-size: 15px;
        color: #999;
        display: flex;
        .content__right__bottom--userName{
          box-sizing: border-box;
          .content__right__bottom--userName-btn{
            text-decoration: none;
            color: #999;
          }
        }
        .content__right__bottom--date{
          margin-left: 20px;
        }
      }
    }
    &__title{
      font-size: 30px;
      font-weight: bold;
      padding-top: 30px;
      text-align: center;
    }
  }
}

.post__header{
  height:50px;
  width: 100%;
  background-color: lightcyan;
  padding-top: 0px;
  font-size: 30px;
  text-align: center;
  align-items: center;
  .post__header--name{
    font-size: 25px;
    .post__header--plus{
      font-size: 15px;
      float: right;
      width: 70%;
      a{
        float: right;
      }
    }
  }
}
.postTitle{
  height: 50px;
  background-color: lightpink;
}
.postDate{
  height: 20px;
  background-color: lightpink;
}
.postAuthor{
  height: 30px;
  background-color: lightpink;
  .postManage__edit{
    background-color: violet;
  }
  .postManage__delet{
    background-color: violet;
  }
}

.postText{
  height: auto;
  width: 70%;
  background-color: #fff;
}

  // margin: 20px 0;
  // padding: 30px;
  // position: relative;
  // height: 440px;
  // width: 100%;
  // color: #fff;
  // background-size: cover;
  // background-position: center center;
  // border-radius: 3px;
  // box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
 
.footer{
  height: 70px;
  width: auto;
  background-color: lightpink;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  font-size: 20px;
  color: #fff;
}
  .postTitle{
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    background-color: pink;
  }
  .postDate{
    font-size: 15px;
    color: #999;
    text-align: center;
    background-color: pink
  }
  .postAuthor{
    font-size: 15px;
    color: #999;
    text-align: center;
  }
  .postManage{
    display: flex;
    justify-content: center;
    background-color: pink;
    &__edit{
      display: block;
      border-radius: 5px;
      color: #ffffff;
      background-color: violet;
      padding: 0 10px;
      text-decoration: none;
      margin-right: 10px;
    }
    &__delete{
      display: block;
      border-radius: 5px;
      color: #ffffff;
      background-color: violet;
      padding: 0 10px;
      text-decoration: none;
      margin-left: 10px;
    }
  }
  .postText{
    margin: 20px 30px;
    background-color: #ffffff;
    width: calc(100vw - 50px);
  }
.blog-box{
  height: 500px;
  width:100%;
  background-color: lightblue;
 .new_post{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    align-items: center;
    .form__main{
      display:  block;
      width: 80%;
      height: 30px;
    }
    .form__box{
      display: block;
      width: 80%;
      height: 400px;
      margin-top: 15px;
    }
    .form__send{
      display: block;
      width: 30%;
      margin: 15px auto 0;
      margin-bottom: 10px;
    }
}
  .bottom-box{
    height: calc(100vh - 500px);
    width: 100%;
    margin-bottom: 0px;
    background-color: lightcyan;
  }
  .edit_post{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    align-items: center;
  .form__main_b{
    display: block;
    width: 80%;
    height: 30px;
  }
  .form__box_b{
    display: block;
    width: 80%;
    height: 400px;
    margin-top: 15px;
  }
  .form__send_b{
    display: block;
    width: 30%;
    margin: 15px auto 0;
    margin-bottom: 10px;
  }  
}
  .bottom-box{
    height: calc(100vh - 600px);
    width: 100%;
    margin-bottom: 0px;
    background-color: lightcyan;
  }
  .user{
    padding: 15px 30px;
  }
}
.post-footer{
  height: 70px;
  width: 100%;
  background-color: lightpink;
  position: fixed;
  text-align: center;
  font-size: 20px;
  color: #fff;
  padding-top: 20px;
  bottom: 0 ;
}