.contents
  .contents__left
    .contents__left--image
      .contents__right
        .contents__right__top
          -# = link_to post.title, post_path(post.id), class: "text__right__top--title" 
        .contents__right__bottom
          .contents__right__bottom--userName
            -# = link_to post.user.nickname, user_path(post.user), class: "text__right__bottom--userName--btn"
          .contents__right__bottom--date
          -# = tweet.created_at
