.content__title
  投稿の編集
= form_for model: @post, class: :form, local: true do |form|
  = form.text_field :title, placeholder: :タイトル, class: :form__title
  = form.text_area :content, placeholder: :ブログ本文, class: :form__content
  = form.submit '投稿する', class: :form__btn


-# .content__title
-#   新規記事の作成
-# = form_for (@post) do |f|
-#   = f.label :title
-#   = f.text_field :title, pleceholder: "タイトル"
-#   = f.label :content
-#   = f.text_area :content, pleceholder: "ブログ本文"
-#   = f.label :title
-#   = f.submit "投稿する", class: "form_btn"