.header
  .header-name
    New📖Diary
  .header__left
    =link_to root_path do
      Doorway🚪
  .header__right

.blog-box
  = form_for (@post) do |form|
    = form.text_field :title, placeholder: :タイトル, class: :form__main
    = form.text_area :content, placeholder: :ブログ本文, class: :form__box
    = form.submit 'keep a diary🖋', class: :form__send
  -#    = link_to post_path do
  .bottom-box

